@{
    ViewBag.Title = "Home Page";
}

<!-- Page Content-->
<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6">
                <h1 class="mt-5">Video Club 🎞 </h1>
                <p>Sistema web de Video Club realizado en ASP.NET</p>
            </div>
        </div>
    </div>
</section>